@import './../../../assets/scss/variables';

h1 {
    text-align: center;
}

.cancel-btn, 
.confirm-btn {
    padding: 0.5rem 1rem;
    min-width: 5rem;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

.confirm-btn {
    background: $darkGreen;
}

.cancel-btn {
    background: $darkPurple;
    margin-right: 0.5rem;
}

.dialog-btns {
    width: 90%;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.task-wrapper {
    text-align: center;
    width: 90%;
    margin: auto;
}
  
::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color:#d8d8d8!important;
}
  
::ng-deep .mat-form-field-underline{
    background-color:#d8d8d8!important;
}

.mat-form-field {
    width: 80%;
}

// .remove-task {
//     background: red;
// }

.remove-task:hover {
    cursor: pointer;
}

.single-task {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 1rem;
}