<h1>{{data | date:'EEEE, dd.MM.'}}</h1>
<form [formGroup]="dailyTasksForm">
  <div class="task-wrapper">
    <!-- <mat-form-field>
      <input
        matInput
        maxlength="255"
      />
    </mat-form-field> -->
    <div formArrayName="tasksArray" 
      *ngFor="let arrayItem of arrayItems; let i=index">
         
      <mat-form-field>
        <input
          matInput
          [id]="arrayItem.id"
          [formControl]="tasksArray[i]"
          maxlength="255"
          (keydown.enter)="addItem()"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="dialog-btns">
    <button type="button" class='cancel-btn' (click)="cancel()">Cancel</button>
    <button type="button" class='confirm-btn' (click)="confirm()">Save</button>
  </div>
</form>