$darkGreen: #5DD9C1;
$lightGreen: #ACFCD9;
$darkPurple: #665687;
$lightPurple: #B084CC;
$primaryDark: #190933;
$white: #fff;
$black: #000;
$fontFamily: 'Open Sans', sans-serif;
$headlinesFontFamily: 'Open Sans', sans-serif;
$fontSize: 14px;