@import './../../assets/scss/variables';

ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.highlight {
    background: $lightGreen;
}

li {
  display: inline-block; 
  border: 1px solid rgb(102, 102, 102);
  width: calc(100%/7 - 2px);
  height: 4rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

li.days {
    font-weight: bold;
}

li.grey {
    color: rgb(124, 124, 124)
}

li:hover {
    background-color: $darkPurple;
    transition: 0.3s;
}

.month-label {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    button {
        border: none;
        background: white;
        cursor: pointer;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        padding: 0;
        img {
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;
        }
    }
}