@import './../../assets/scss/variables';

ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.highlight {
    background: $lightGreen;
}

li {
  display: inline-block; 
  border: 1px solid rgb(102, 102, 102);
  width: calc(100%/7 - 2px);
  height: 4rem;
  text-align: center;
  cursor: pointer;
}

li.days {
    font-weight: bold;
}

li.grey {
    color: rgb(124, 124, 124)
}

li:hover {
    background-color: $lightPurple;
}

.month-label {
    margin-bottom: 1rem;
}